@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

:root {
    --bg-primary: #e5e7eb;
    --bg-secondary: #fff;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO CARD CONFIRMAÇÃO DE EXCLUSÃO */
.modal-delete-todo {
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    
    
}

.container-sim-nao {

    background-color:white;
    min-width: 250px;
    width: 20%;
    text-align: center;
    padding: 3rem 0;
    border-radius: 8px;

}

.container-sim-nao button:hover {
    background-color:#202124;
    color: #e8eaed;
    transform: scale(1.1);
}

.container-sim-nao button {
   border: none;
   border-radius: 0.75rem;
   padding: 1rem 2rem;
   margin: 0.5rem;
   transition: all 0.3 ease;
}

/* ESTILIZAÇÃO CARD CONFIRMAÇÃO DE EXCLUSÃO */

/* Dark mode - Início ---------------------------------------------------------------------*/
.btn-bk {
    font-size: 1.5rem;
    text-indent: 0.5rem;
    display:flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem !important;
  }

  
  input:checked {
    background-color:#202124 !important;
    border-bottom-color: #202124 !important;
    border-color:#e8eaed !important;
  
  
  }
  input {
    background-color:#e8eaed !important;
    border-bottom-color: #e8eaed !important;
    border-color:#202124 !important;
  
  }
  
  input[type="checkbox"]:focus {
    box-shadow: none;
  }
 /* Dark mode - Fim---------------------------------------------------------------------------------------*/

body {
    font-family: "Roboto", sans-serif;
}

button,
a {
    cursor: pointer;
    border: 0;
    outline: 0;
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin-inline: auto;
}

.title {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 0.4rem;
}

.wrap {
    flex: 1 1 100%;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.search {
    position: relative;
    flex: 1 1 auto;
}

.search label {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.search-input {
    height: 2rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    width: 2rem;
    border-radius: 0.75rem;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.search-input.active {
    width: 100%;
    border-radius: 0.75rem;
}


.filter-btn {
    height: 2rem;
    padding-inline: 0.7rem;
    border-radius: 0.75rem;
    margin-left: 0.25rem;
}

.filter-modal {
    background-color: #f2f3f5;
    width: 260px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, calc(100% + 2px));
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    transform-origin: 0 0;
    padding: 16px;
    z-index: 1;
    transition: scale 0.1s ease, opacity 0.1s ease;
}

.filter-modal.hidden {
    transform: scale(0.5);
    opacity: 0;
}

/* Parte de baixo de adicionar novas task */
.section-add-todo {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-primary);
    border-top-left-radius: 1.5rem 0.8rem;
    border-top-right-radius: 1.5rem 0.8rem;
    padding-top: 0.5rem;
}

.section-add-todo .extras {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.section-add-todo .extras.active {
    height: 70px;
}

.section-add-todo .extras > div {
    padding: 1rem;
}

.section-add-todo .data-incial {
    margin-right: 1rem;
}

.section-add-todo .add-task {
    width: 100%;
    padding: 0.5rem;
    position: relative;
    font-size: 1.5em;
}
.section-add-todo .add-task textarea {
    width: 100%;
    padding: 0.625rem 2.25rem 0.625rem 0.625rem;
    border-radius: 0.75rem;
    border: 0;
    resize: none;
    font-size: 1rem;
    line-height: 1.3rem;
    box-shadow: 0 0 1px 1px #ccc;
    color: #3f424a;
}

.section-add-todo .add-task button {
    position: absolute;
    right: 0.86rem;
    bottom: 1.188rem;
    color: white;
    background-color: #5db075;
    border-radius: 50%;
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-add-todo .add-task button i {
    font-size: 0.75em;
    
}

/* Local onde as task ficam */
.todo-container {
    width: 90%;
    max-width: 800px;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.375rem;
}

/* Task cards */
.task {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border-radius: 0.75rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.task .title-task {
    word-wrap: break-word;
    font-size: 1.2em;
    text-align: left;
    width: 100%;
}

.task.tachado {
    text-decoration: line-through;
}

.task .check {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.task .check:checked + p {
    text-decoration: line-through;
}

.task .check i {
    font-size: 1.5em;
}

.task p {
    text-indent: 2rem;
}

.task .options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    border-top: solid 1px #ccc;
}

.task .options .id-task {
    margin-right: auto;
}

.task .options button {
    background-color: transparent;
    padding: 0.5rem;
    margin-inline: 0.5rem;
}

.task .options button i {
    font-size: 1.2em;
}
