// variables

:root {
    --primary-color: #222222;
    --background-color: #ffffff;
}

$primary-color: #222222;
$background-color: #ffffff;

// global

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;       
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

#main-container {
    color: var(--primary-color);
    background-color: var(--background-color);
    width: 100%;
    max-width: 500px;
    height: 100vh;
    transition: all .25s ease;
}

// confirm delete card

.modal-delete-todo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff90;
    z-index: 1;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

.container-sim-nao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-sim-nao button {
    border: solid 1px var(--primary-color);
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    height: 2rem;
    min-width: 5rem;
    padding: 0 1rem;
    margin: 0.5rem;
    transition: all .25s ease;
}

.container-sim-nao button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.container-sim-nao button:first-child:hover {
    background-color: var(--background-color);
    color: #ff5050;
    border: solid 1px #ff5050;
    transform: scale(1.05);
}

/* Dark mode - Início ---------------------------------------------------------------------*/

#switch-theme {
}

input[type="checkbox"]#handleTheme {
    display: none;
}

#theme-icons .material-icons {
    display: flex;
}

#theme-icons {
    transition: all 1s ease;
    font-size: 1.75rem;

    &:hover {
        opacity: .8;
        transform: rotate(0deg) scale(1.05);
        cursor: pointer;
    }
}



 /* Dark mode - Fim---------------------------------------------------------------*/


button, a, select {
    cursor: pointer;
    border: 0;
    outline: 0;
    text-decoration: none;

}
a:visited {
    color: var(--primary-color);
}

input, textarea, select {
    background-color: var(--background-color);
    color: var(--primary-color);
}

// Header

header {
    width: 100%;
    max-width: 500px;
    margin-top: 5rem;
    padding-bottom: 2rem;
}
.container {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}

.title {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

.title h1 {
    text-decoration: none;
    font-size: 1.5rem;
}

.wrap {
    position: fixed;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem 0 1.5rem;
    z-index: 3;
}

.search {
    position: relative;
    flex: auto 1 1;
    z-index: 3;
}

.search label {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
    z-index: 1;
}

.search-input {
    outline: 0;
    height: 2.6rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    width: 2rem;
    border-radius: 5rem;
    transform-origin: center right;
    transition: width .25s ease-in-out;
    border: solid 1px var(--primary-color);
    background-color: var(--background-color);

}

.search-input.active {
    width: 100%;
}

.filter-btn {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-inline: 0.7rem;
    border-radius: 2rem;
    margin-left: 0.25rem;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: solid 1px var(--primary-color);
}

.filter-btn {
    background-color: var(--background-color);
    color: solid 1px var(--primary-color);
}

/* Parte de baixo de adicionar novas task */

.section-add-todo {
    width: 100%;
    max-width: 500px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color);
    border-top: solid 1px var(--primary-color);
    padding: .5rem 1rem;
}

.section-add-todo .extras {
    display: flex;
    align-items: center;
    padding: 0 .71rem;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    transition: height .25s ease;
}

.section-add-todo .extras.active {
    height: 2.25rem;
}

.section-add-todo .extras > div {
    font-size: .75rem;
    padding: .5rem;
}

.section-add-todo .extras select {
    height: 1.5rem;
    font-size: .75rem;
    border-radius: 1rem;
    padding-left: .35rem;
    border: solid 1px var(--primary-color);
}

.section-add-todo .data-incial input {
    width: 4.5rem;
    border: none;
    padding: .25rem .25rem;
}

.section-add-todo .add-task {
    width: 100%;
    padding: 0.5rem;
    position: relative;
}

.section-add-todo .add-task textarea {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 2rem;
    resize: auto;
    line-height: 1.3rem;
    color: var(--primary-color);
}

.section-add-todo .add-task textarea:focus {
    box-shadow: 0 0 0 1px rgb(0, 217, 255);
}

.section-add-todo .add-task button {
    position: absolute;
    right: 0.86rem;
    bottom: .75rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Local onde as task ficam */
.todo-container {
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.375rem;
    margin-top: 1rem;
}

/* Task cards */

.task {
    border-radius: 0.75rem;
    // border: solid 1px var(--primary-color);
    padding: 0 1rem 0 .5rem;
    // margin-bottom: .5rem;
    word-break: break-word;
    position: relative;
    /* background-color: var(--background-color); */
    transition: all .25s ease;
}

.task:last-child {
    margin-bottom: 2.2rem;
}

.task .title-task {
    word-wrap: break-word;
    font-size: .9rem;
    text-align: left;
    width: 100%;
    margin-left: 1rem;
    padding-top: 1rem;
}

.tachado p {
    text-decoration: line-through;
    opacity: .5;
}

.task .check {
    position: absolute;
    left: 1.5rem;
    top: 1.25rem;
    opacity: 1;
    width: 1em;
    height: 1em;
}

.task .check:checked + p {
    text-decoration: line-through;
    color: #00000030;
}

.task .check i {
    font-size: 1.5em;
}

.task p {
    text-indent: 2rem;
    transition: all .25s ease;
}

.task .options {
    display: flex;
    opacity: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 0;
    transition: all .25s ease;
}

.task .options .id-task {
    /* margin-right: auto; */
    margin-right: 1rem;
    opacity: .3;
}

.task:hover .options{
    opacity: 1;
}

.task .options button span {
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: transform .25s ease;
    
    &:hover {
        transform: scale(1.3); 
    }
}

.task .options .delete-button {
    background-color: var(--background-color);
    font-size: 1.5rem;
}

.task-color {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    margin-right: .5rem;
    cursor: pointer;
    transition: transform .25s ease;
    
    &:hover {
        transform: scale(1.2);   
    }
    
    &.green {
        background-color: #108a00;
    }
    &.blue {
        background-color: #1353ca;
    }
    &.red {
        background-color: #ff5050;
    }
    &.clear {
        border: solid 1px var(--primary-color);
        margin-right: 1rem;
    }
}

.fas.fa-trash-alt {
    color: var(--primary-color);
    transition: all .25s ease;

    &:hover {
        transform: rotate(5deg) scale(1.2);
    }
}

/* Menu Superior */

#menu-superior {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    color: var(--primary-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px var(--primary-color);
    z-index: 3;
    transition: all 0.25s ease;
}

#api-button span {
    color: var(--primary-color);
    font-size: 2rem;
    transition: all .25s ease-out;
}

#api-button span:hover {
    opacity: .8;
    transform: rotate(15deg) scale(1.05);
}

.api-card {
    background-color: var(--background-color);
    padding: 1.5rem;
    margin: 1rem 2rem;
    border-radius: .5rem;
}

.api-card > h2{
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 1rem;
    display: inline-block;
}


footer {
    background-color: var(--background-color);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: solid 1px var(--primary-color);
}

footer > a{
    display: inline-block;
  background: linear-gradient(130deg,
              rgba(251,251,254,.9),
              rgba(251,251,254,.2));
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  color: var(--primary-color);
  font-weight: 500;
  transition: .25s;
}

footer > a:hover{
    background: linear-gradient(130deg,
              rgba(251,251,254,1),
              rgba(251,251,254,.4));
}

